<mat-toolbar>
  <div class="marketplace-header-content">
    <h1>Marketplace</h1>
    <span class="spacer"></span>

  </div>
</mat-toolbar>

  <div class="marketplace">
  <div class="marketplace-content" >


    <div class="marketplace-filters">

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <mat-checkbox (click)="checkboxClick()">
            {{node.name}}
          </mat-checkbox>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
            {{node.name}}
          </mat-tree-node>
          <hr>
      </mat-tree>
      <hr>
    </div>
    <hr>
      <div class="marketplace-items">
        <mat-grid-list cols="3" rowHeight="1:1">
          <mat-grid-tile
            *ngFor="let service of services">
            <button mat-button>
              <!-- need to add redirect-->
            <mat-card class="product-card" [class.mat-elevation-z15]="!isActive">
              <img mat-card-image src={{service.image}} width="200" height="200">
              <mat-card-footer>
                  <mat-card-subtitle>{{service.service}}
                    <br>
                    <h3>Service</h3>
                    <h4>Ottawa, ON</h4>
                    <mat-icon>star_border</mat-icon>
                    <mat-icon>star_border</mat-icon>
                    <mat-icon>star_border</mat-icon>
                    <mat-icon>star_border</mat-icon>
                    <mat-icon>star_border</mat-icon>
                    <b>{{numberOfReviews}}</b>
                  </mat-card-subtitle>
              </mat-card-footer>
              </mat-card>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
      </div>

    </div>
  </div>

    <!--
    <mat-tab-group dynamicHeight>
      <mat-tab class="service-tab" label="Services">
        <mat-grid-list cols="4" rowHeight="2:2" gutterSize="20px">
          <mat-grid-tile
            *ngFor="let service of services">
            <mat-card class="product-card" [class.mat-elevation-z15]="!isActive">
              <img mat-card-image src={{service.image}} width="200" height="200">
              <mat-card-footer>
                <mat-card-title>{{service.service}}</mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
              </mat-card-footer>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-tab>
      <mat-tab label="Products">
        <mat-grid-list cols="4" rowHeight="2:2" gutterSize="20px">
          <mat-grid-tile
            *ngFor="let product of products">
            <mat-card class="product-card" [class.mat-elevation-z15]="!isActive">
              <img mat-card-image src={{product.image}} width="200" height="200">
              <mat-card-footer>
                <mat-card-title>{{product.product}}</mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
              </mat-card-footer>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
    -->



