mat-toolbar{
  height: 300px;
  background-color: #252527;
  width: 100%;
}

.landing-banner-content{
  flex-direction: column;
  margin: 0 auto;
  width: 1400px;
}

.landing-body{
  margin: 0 auto;
  width: 1400px;
}

h1{
  font-size: xxx-large;
  color: aliceblue;
  margin-bottom: 40px;
}

h3{
  color: rgb(122, 140, 155);
  font-size: large;
  margin-left: 5px;
  margin-bottom: 40px;
  width: 500px;
}

button{
  font-size: large;
  margin-left: 5px;
  margin-bottom: 40px;
}

h2{
  color: #252527;
  font-size: x-large;
  margin-left: 5px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: bold;
}

mat-grid-list{
  margin: 0 auto;
}

mat-card{
  height: 400px;
  background-color: #252527;
}

mat-card-footer{
  margin-top: 2%;
  text-align: center;
}

.product-image{
  display: flex;
  justify-content: space-between;
  object-fit: cover;
}

.popular-container {
  height: 400px;
  width: 400px;
  position: relative;
}
.image {
  position: absolute;
  left: 0;
  top: 0;
}
.image-text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}
