mat-toolbar{
  height: 150px;
  background-color: #252527;
  display: flex;
}

h1{
  font-size: xx-large;
}

.my-account-header-content{
  display: flex;
  width: 1600px;
  margin: 0 auto;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.file-input {
  display: none;
}

.my-account-body{
  display: flex;
  width: 1600px;
  margin: 0 auto;
  align-items: left;
  justify-content: left;
  text-align: left;
}

h2{
  font-weight: bold;
}

.file-upload{
  margin-top: 20px;
}

::ng-deep .mat-tab-list .mat-tab-labels {
  display: flex;
  margin: 0 auto;
  color:white;
  width: 1600px;
  background-color: #252527;
  font-size: large;
}

.spacer {
  flex: 1 1 auto;
}

button{
  font-size: large;
}

button:hover{
  background-color: #505053;
}

::ng-deep .mat-checkbox-frame {
  border-color: #252527;
}