<mat-toolbar>
  <div class="my-account-header-content">
    <h1>My Account</h1>
    <span class="spacer"></span>
    <ng-container *ngIf="auth.isAuthenticated$ | async;">
      <button mat-button (click)="auth.logout({ returnTo: document.location.origin })">
        <mat-icon>supervisor_account</mat-icon>
        Log out
      </button>
    </ng-container>
  </div>

</mat-toolbar>

<div class="my-account-body">

  <mat-tab-group dynamicHeight class="mat-tab-group" animationDuration="1000ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="profile-icon">person</mat-icon>
        Profile
      </ng-template>
      <ul *ngIf="auth.user$ | async as user">
        <h2>Welcome back {{user.name}}</h2>
      </ul>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="files-icon">text_snippet</mat-icon>
        Files
      </ng-template>
      <div class="file-group">
        <div class="file-list">
          <h2>Your files</h2>
          <mat-list *ngFor="let file of listOfFiles">
            <mat-checkbox (change)="setCheckboxChange(file)">
               <mat-icon>description</mat-icon>
            </mat-checkbox>
            <div mat-line>Name: {{file.name}}</div>
            <div mat-line>Uploaded: {{file.uploaded | date}} </div>
          </mat-list>
          
        </div>
      <hr>
      <input type="file" accept=".jpg,.png,.stl,.txt" class="file-input"(change)="onFileSelected($event)" #fileUpload>
    
      <div class="file-upload">
        
        {{fileName || "Upload a new file"}}
    
          <button mat-button class="upload-btn"
            (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
          </button>
          <button mat-raised-button class="saveFile" (click)="saveFile()">Save</button>

          <div *ngIf="this.checked">
            <button mat-raised-button class="deleteFile" (click)="deleteFiles()">Delete Selected Files</button>
          </div>
      </div>
      
      </div>
    </mat-tab>

  </mat-tab-group>
</div>


