<mat-toolbar>
  <div class="my-account-header-content">
    <h1>My Account</h1>
  </div>
</mat-toolbar>

<div class="my-account-body">

  <mat-tab-group>
    <mat-tab label="Profile">
      <ul *ngIf="auth.user$ | async as user"></ul>
    </mat-tab>

    <mat-tab label="Files">

    </mat-tab>

  </mat-tab-group>
</div>
  <input type="file" class="file-input"(change)="onFileSelected($event)" #fileUpload>

  <div class="file-upload">

    {{fileName || "No file uploaded yet."}}

      <button mat-raised-button class="upload-btn"
        (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
      </button>
  </div>

