<mat-drawer-container class="left-drawer-container" autosize>
  <mat-drawer #drawer class="left-drawer" mode="side">
    <h2>
      Quick Links
    </h2>
    <mat-nav-list>
      <a mat-button routerLink="" routerLinkActive="active">Home</a>
      <ng-container *ngIf="auth.isAuthenticated$ | async">
        <a mat-button routerLink="/my-account" routerLinkActive="active">My Account</a>
      </ng-container>

      <a href="#" mat-button>FAQ</a>
      <a href="#" mat-button>Help</a>
    </mat-nav-list>
    <h2>
      Services
    </h2>
    <mat-nav-list>
      <a href="#" mat-button>3D Printing</a>
      <a href="#" mat-button>Product Design</a>
      <a href="#" mat-button>Procurment</a>
    </mat-nav-list>
    <h2>
      Products
    </h2>
    <mat-nav-list>
      <a href="#" mat-button>Printers</a>
      <a href="#" mat-button>Materials</a>
      <a href="#" mat-button>Parts</a>
    </mat-nav-list>

  </mat-drawer>
</mat-drawer-container>
